[submodule "dep/websocketpp"]
	path = dep/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "dep/asio"]
	path = dep/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "dep/plugin-sdk"]
	path = dep/plugin-sdk
	url = git@gitlab.com:allxon.com/plugin/plugin-sdk.git
