[Unit]
Description=Allxon DMS Upterm plugIN
Documentation=https://dms.allxon.com/

[Service]
Type=simple
ExecStart=/opt/allxon/plugIN/e5c7f65b-1cf7-46e6-af56-d418ac43acc2/scripts/startPlugin.sh
StandardOutput=null
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

